/*新增*/
.main-area {
    padding:2em 4em;
}
.region ul{    
    font-size: 16px;
    margin:5px 5px;
    justify-content: center;
    border:none;
}
.region ul li a{    
    margin-right:20px;
    padding-bottom: 10px;
    text-decoration: none;
    color:black;
}
.region ul li a:hover{
    font-weight: 600;
    color:#ccc;
}
.cards p {
    font-size:16px;
    line-height: 29px;
}
.cards h2 {
    font-size:22px;    
	margin-top: 0;
    margin-bottom: .5em;
    font-weight: 600;
}
.container img {
	display: block;
	width: 90%;
    height: auto;
    margin:10px auto 0 auto;
}
i.fas{
    margin-right:10px;
}
i.fab{
    margin-right:10px;
}


/* Flexbox */
@media screen and (min-width: 50em) {
    
    .outer-wrap {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    .content {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    
    .main-area {
        -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1;
    }
  
}

/* Card Based Layout - Base styles */

.card {
	background: white;
	margin-bottom: 1em;	
}

.card-content {
	padding: 1.4em;
}


/* Flexbox stuff */

@media screen and (min-width: 40em) {
    .cards {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: 20px;
    }

    .card {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex: 0 1 calc(50% - .5em);
            -ms-flex: 0 1 calc(50% - .5em);
                flex: 0 1 calc(50% - .5em);
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 39.9em) {
  
  .main-area {padding: 0em;}
  .card {margin-bottom: 10px;}	
}

@media screen and (min-width: 60em) {
    .cards {
        margin-top: inherit;
    }
    
    .card {
        -webkit-flex: 0 1 calc(33% - 1em);
            -ms-flex: 0 1 calc(33% - 1em);
                flex: 0 1 calc(33% - 1em);
        margin-bottom: 10px;
    }
}
