.cd-auto-hide-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    transition: transform .5s;
    background-color: #eee;
  }
  .cd-auto-hide-header.is-hidden {
    transform: translateY(-100%);
  }

  .logo img{
    width:130px;
  }

  .cd-primary-nav a{
    text-decoration: none;
  }
  
  .cd-primary-nav .my-btn{
    width:50px;
    height:50px;
    border-radius:25px;
    padding:0;
    padding-top:3px;
    padding-right: 3px;
  }
