<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>林口有機聯盟</title>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115160215-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'UA-115160215-1');
	</script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

	<link rel="stylesheet" href="css/nav.css">
	<link href="css/main.css" rel="stylesheet" type="text/css" />
	<link href="css/login.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<!--導覽列-->
	<header class="cd-auto-hide-header">
		<div class="logo">
			<a href="/">
				<img src="img/透明logo1.gif" alt="Logo">
			</a>
		</div>

		<nav class="cd-primary-nav">
			<a href="#cd-navigation" class="nav-trigger">
				<span>
					<em aria-hidden="true"></em>
					Menu
				</span>
			</a>
			<!-- .nav-trigger -->

			<ul id="cd-navigation">
				<li>
					<a href="/about">關於我們</a>
				</li>
				<li>
					<a href="/mv">聯盟故事微電影</a>
				</li>
				<li>
					<a href="/productListByPage?pageNo=1">我們的商品</a>
				</li>
				<li>
					<a href="/distributors">去哪兒買</a>
				</li>
				<li>
					<a href="/certification">認證資訊</a>
				</li>
				<li>
					<a href="/contact">聯絡我們</a>
				</li>

				<li>
					<% if(login)
					{%>
						<button type="button" class="btn btn-outline-secondary btn-lg m-1" onclick="self.location.href='/profile'">會員專區</button>
						<button type="button" class="btn btn-outline-secondary btn-lg m-1" onclick="self.location.href='/logout'">登出</button>
						<% }	
				else
					{%>
							<button type="button" class="btn btn-outline-secondary btn-lg m-1" onclick="self.location.href='/login'">登入</button>
							<button type="button" class="btn btn-outline-secondary btn-lg m-1" onclick="self.location.href='/signup'">註冊</button>
							<% }	
				%>
								<button type="button" class="btn btn-warning m-1 btn-lg my-btn" data-toggle="modal" data-target="#myModal">
									<i class="fas fa-shopping-cart fa-2x"></i>
								</button>
				</li>
			</ul>
		</nav>
		<!-- .cd-primary-nav -->

	</header>
	<!-- .cd-auto-hide-header -->
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">維修</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					網站試營運，部分功能建構中。
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">關閉</button>
				</div>
			</div>
		</div>
	</div>


	<!--==========================================-->
	<div class="container">
		<div class="content">

			<% if (hasErrors) {%>
				<div class="alert alert-danger">
					<% messages.forEach(function(message){ %>
						<p>
							<%= message %>
						</p>
						<% });%>
				</div>
				<% }%>

					<form role="form" action="/signup" method="post">
						<div class="singup-block">
							<h1>會員註冊</h1>
							<div class="row">
								<div class="col-md-6 col-sm-12">
									<input type="text" value="" placeholder="姓名" id="CusName" name="CusName" class="form-control">
									<span class="fas fa-user inputicon">
										<p class="must">*</p>
									</span>
									<input type="text" value="" placeholder="地址" id="Address" name="Address" class="form-control">
									<span class="fas fa-home inputicon">
										<p class="must">*</p>
									</span>
									<input type="text" value="" placeholder="手機號碼" id="Cellphone" name="Cellphone" class="form-control">
									<span class="fas fa-mobile-alt inputicon">
										<p class="must">*</p>
									</span>
									<input type="text" value="" placeholder="電話號碼" id="Telephone" name="Telephone" class="form-control">
									<span class="fas fa-phone inputicon fa-flip-horizontal"></span>
									<input type="text" value="" placeholder="信箱" id="Email" name="Email" class="form-control">
									<span class="fas fa-envelope inputicon">
										<p class="must">*</p>
									</span>
								</div>
								<div class="col-md-6 col-sm-12">
									<input type="text" value="" placeholder="帳號" id="Account" name="Account" class="form-control">
									<span class="fas fa-user-circle inputicon"></span>
									<input type="password" value="" placeholder="密碼" id="Password" name="Password" class="form-control">
									<span class="fas fa-unlock inputicon">
										<p class="login-notice">*密碼須4個字元以上</p>
									</span>

									<!-- 會員服務條款 -->
									<p style="font-size:13px;padding-top:10px">會員服務條款</p>
									<textarea id="textarea1">歡迎您申請加入成為「林口有機聯盟」的會員！和我們一起守護土地、守護自然，實踐生產者、銷售者、消費者三方互利共好的生活態度。「林口有機聯盟」服務係由林口有機聯盟(以下稱本聯盟)及語林有機農場、芽寶寶有機農場、周好小農場及畦遊季有機農場共同合作建置經營，本聯盟依據本會員服務使用同意書、林口有機聯盟網站上的其他公告內容、使用規範及注意事項(以下合稱為「本同意書」)提供您虛擬與實體的整合會員服務。
									&#13;&#10;一、認知與接受服務條款&#13;&#10;1.為了保障您的權益，請務必詳讀本同意書條款。當您註冊成為本服務會員、或開始使用本聯盟提供之各項會員服務時，即視同您已閱讀、瞭解並同意接受本同意書及「隱私權保護政策」之所有內容，並完全接受本服務現有與未來衍生的服務項目及內容。&#13;&#10;2.本聯盟有權於任何時間修改或變更本服務條款之內容，保有各項會員服務之申請、停用、修改或終止各項優惠服務之權利。修改後的服務條款內容將公佈在林口有機聯盟網站上，建議會員隨時注意該等修改或變更。會員於任何修改或變更後繼續使用本服務時，視為會員確認已閱讀、瞭解並同意接受其修改或變更。若不同意上述的服務條款修訂或更新方式，或不接受本服務條款的其他任一約定，會員應立即停止使用本服務。&#13;&#10;3.若會員為未滿二十歲之未成年人，應由會員的家長（或監護人）陪同閱讀、瞭解並同意本服務條款之所有內容及其後修改變更後，方得註冊為會員使用本服務。當會員使用、或繼續使用本聯盟會員服務時，即視為會員的家長（或監護人）已閱讀、瞭解並同意接受本約定書之所有內容及其後修改變更。
									&#13;&#10;二、會員服務範圍&#13;&#10;1.林口有機聯盟的服務範圍，包括與 http://www.linkouorganic.com.tw 及未來所有可能新增的本聯盟線上工具，且包括使用本聯盟所提供金流、物流與資訊流平台等網路的一切服務內容，包括但不限於商品買賣、內容瀏覽、利用電子郵件或其他方式進行商品行銷資訊之提供及其他服務。&#13;&#10;2.本聯盟得視業務需要及實際情形，增減、變更或終止相關服務的項目或內容，且無需個別通知您。
									&#13;&#10;三、會員帳號、密碼及安全&#13;&#10;當您註冊成為本服務會員後，可享受本聯盟提供之會員權益。您可至林口有機聯盟網站查看最新消息、享受不定期商品推薦與會員專屬特惠、或受邀參加會員專屬活動。會員同意： 
									&#13;&#10;(一)註冊及使用會員帳號使用本服務時，提供並主動維護會員本人最新、正確、完整的資料，且不得以第三人之名義註冊為會員。每位會員僅能註冊登錄一個帳號，不可重覆註冊登錄。&#13;&#10;1.會員的帳號、密碼及會員權益均僅供會員個人使用及享有，不得轉借、轉讓他人或與他人合用。&#13;&#10;2.必須妥善設定、維護及保管您的帳號及密碼。如果您洩漏自己的個人資料、會員密碼或付款資料，並使得第三人有使用的機會時，您必須就第三人的行為負全部責任。&#13;&#10;3.建議每次與林口有機聯盟網站連線完畢，均登出會員帳號。&#13;&#10;4.會員的密碼或帳號遭到盜用或有其他任何安全問題發生時，請立即通知本聯盟。
									&#13;&#10;(二)暫停、或終止會員帳號&#13;&#10;1.本聯盟若獲悉會員之帳號密碼確遭他人冒用時，將立即暫停該帳號之使用(含該帳號所產生交易之處理)。&#13;&#10;2.您使用本服務時，若有（包括但不限於）提供錯誤或不實資料、或欠缺必要資料、或重覆註冊帳號、未經他人許可盜刷其信用卡、非因物品本身瑕疵惡意退貨、連續向本聯盟客服部門主張與服務及物品無關的問題，或其他違反本服務內容的情事時，本聯盟有權拒絕註冊、並有權不事先通知，立即暫停或終止會員帳號，並拒絕您使用本會員服務。
									&#13;&#10;四、隱私權政策&#13;&#10;會員之個人、及其他特定資料受到本聯盟隱私權條款之保護與規範。
									&#13;&#10;五、智慧財產權&#13;&#10;1.本服務所使用的註冊商標、軟體、程式、網站架構、網頁設計、商品故事、文章、影片，以及本網站上所有內容著作及資料，除本聯盟有特別明示外，皆由本聯盟或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。任何人未經授權不得擅自使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。若您欲引用或轉載前述軟體、程式或網站內容，必須依法取得本聯盟或其他權利人的事前書面同意。尊重智慧財產權是會員應盡的義務，如有違反，會員應對本聯盟負損害賠償責任（包括但不限於訴訟費用及律師費用等）。&#13;&#10;2.在尊重他人智慧財產權之原則下，會員同意在使用本聯盟之服務時，不作侵害他人智慧財產權之行為。&#13;&#10;3.若會員有涉及侵權之情事，本聯盟可暫停全部或部份之服務，或逕自取消會員帳號。&#13;&#10;4.林口有機聯盟網站所屬文章適用創用CC「姓名標示─非商業性─禁止改作」條款（創用CC條款詳情於此，請自行詳細閱讀。），使用者得重製、散布、傳輸著作，但不得為商業目的或有損本聯盟名譽之使用，亦不得修改該著作。使用時必須按照本網站指定的方式－註明來源「全文轉載自林口有機聯盟網站」及原文網址－表彰其出處。違反者應負所有法律責任，本網站得依法請求賠償。然而此條款僅適用於個人部落格之分享，若組織/單位欲轉載本聯盟網站文章，需先來信洽談合作轉載事宜，不得自行轉載。
									&#13;&#10;六、服務內容之通知&#13;&#10;在您加入會員後，視為您已同意本聯盟得不定期透過行銷工具(包含但不限於郵件、DM、EDM、社群媒體、APP等)發送訊息至您所登錄之地址、電子信箱帳號、或社群媒體工具中。當您收到訊息後表明拒絕接受行銷時，本聯盟將停止繼續對您發送行銷訊息。
									&#13;&#10;七、交易行為&#13;&#10;1.會員與本聯盟進行交易時，應依據本聯盟所提供之確認商品數量及價格機制進行。&#13;&#10;2.會員同意使用本服務訂購商品時，於本聯盟通知確認交易成立前，本聯盟仍保有不接受訂單或取消出貨之權利。若訂購之商品屬於以下情形：(1)預購類商品 (2) 林口有機聯盟網站商品頁顯示無庫存 (3)轉由廠商出貨，因商品交易特性之故，倘商品缺/斷貨、或因故無法順利供貨導致訂單無法成立時，本聯盟將以最適方式(以電子郵件為主，手機簡訊為輔)告知，並取消該筆訂單。&#13;&#10;3.會員若於本聯盟訂購商品後任意退換貨、取消訂單、或有任何不適當行為而造成本聯盟作業上之困擾或損害之行為，本聯盟將可視情況拒絕交易、或永久取消會員資格。&#13;&#10;4.會員與本聯盟進行交易時，得依照消費者保護法之規定行使權利。因會員之交易行為而對本聯盟提供服務條款產生疑義時，應為有利於消費者之解釋。
									&#13;&#10;八、會員授權事項&#13;&#10;1.因使用本聯盟所提供之交易或活動，可能須透過宅配或貨運業者始能完成商品(或贈品等)之配送或取回，因此會員同意並授權本聯盟得視該次交易或活動之需求及目的，將由會員所提供且為配送所必要之個人資料(如收件人姓名、配送地址、連絡電話等)，提供予宅配貨運業者及相關配合之廠商，以利完成該次貨品(或贈品等)之配送、取回。&#13;&#10;2.因參與本服務所舉辦、或協助辦理報名之活動，會員同意並授權本聯盟得視該次活動之需求及目的，將由會員所提供且為活動報名所必要之個人資料(如參加人姓名、連絡電話等)，提供予活動單位及相關配合之廠商，以利完成該次活動之進行。&#13;&#10;3.對於會員上載、傳送、輸入或提供之個人資料、消費資料、活動參與記錄，會員同意授權本聯盟及相關業務合作夥伴視需求及目的，於合理之範圍內搜集、處理、保存、傳遞及使用該等資料，達成行銷、市場分析、統計、研究、及提供您個人化服務之目的，同時在不揭露您的各項資料明細下，得公開或使用統計資料。
									&#13;&#10;九、會員的守法義務與承諾&#13;&#10;會員承諾絕不為任何非法目的或以任何非法方式使用本服務，並承諾遵守中華民國相關法規及一切使用網際網路之國際慣例。會員若係中華民國以外之使用者，並同意遵守所屬國家或地域之法令。會員同意並保證不得利用本服務從事侵害他人權益或違法之行為，包括但不限於：&#13;&#10;1.公布或傳送任何誹謗、侮辱、具威脅性、攻擊性、不雅、猥褻、不實、違反公共秩序或善良風俗或其他不法之文字、圖片或任何形式的檔案&#13;&#10;2.侵害或毀損本聯盟或他人名譽、隱私權、營業秘密、商標權、著作權、專利權、其他智慧財產權及其他權利&#13;&#10;3.違反依法律或契約所應負之保密義務&#13;&#10;4.冒用他人名義使用本服務&#13;&#10;5.傳輸或散佈電腦病毒&#13;&#10;6.從事未經本聯盟事前授權的商業行為&#13;&#10;7.刊載、傳輸、發送垃圾郵件、連鎖信、違法或未經本聯盟許可之多層次傳銷訊息及廣告等；或儲存任何侵害他人智慧財產權或違反法令之資料&#13;&#10;8.對本服務其他用戶或第三人產生困擾、不悅或違反一般網路禮節致生反感之行為&#13;&#10;9.其他不符本服務所提供的使用目的之行為或本聯盟有正當理由認為不適當之行為
									&#13;&#10;十、會員服務中止及免責聲明&#13;&#10;本聯盟以目前一般認為合理之方式及技術，維護林口有機聯盟網站的正常運作。但在下列情況之下，本聯盟將有權暫停、中斷或拒絕提供本服務的全部或一部，且不負事先通知您的義務，本聯盟對使用者任何直接或間接的損害，均不負任何賠償或補償的義務：&#13;&#10;1.對林口有機聯盟網站相關軟硬體設備進行搬遷、更換、升級、保養或維修時；&#13;&#10;2.使用者有任何違反政府法令或本會員合約的情形；&#13;&#10;3.天災或其他不可抗力因素所導致的服務停止或中斷；&#13;&#10;4.其他不可歸責於本聯盟事由所致的服務停止或中斷；&#13;&#10;5.非本聯盟所得控制的事由而致本服務資訊顯示不正確、或遭偽造、竄改、刪除或擷取、或致系統中斷或不能正常運作時。&#13;&#10;6.其他本聯盟認為有需要停止或中斷服務的情形。&#13;&#10;7.本聯盟針對軟硬體維護計畫，有可能導致服務中斷或是暫停時，將盡可能地於該狀況發生前，以適當方式於林口有機聯盟網站公告。林口有機聯盟網站僅依當時的既有項目、功能及現狀供您使用，本聯盟並不負任何的擔保、保證或損害賠償責任。
									&#13;&#10;十一、責任依據及損害賠償&#13;&#10;1.您使用本聯盟會員服務時，在使用過程中所有的資料紀錄，應以本聯盟資料庫所記錄的資料為準。若有發生任何糾紛，雙方將以最大誠意提出各自所儲存的電子、或書面資料記錄提交於法院或公正第三人作認定。&#13;&#10;2.若您違反本會員合約或相關法律規定，致本聯盟及相關履行輔助人因此受有損害或支出費用（包括但不限於商品費用、運費、處理費用、訴訟費用及律師費用），應負擔賠償責任。
									&#13;&#10;十二、準據法與管轄法院：&#13;&#10;1.本同意書中，任何條款的全部或一部份無效時，並不影響其他約定的效力。&#13;&#10;2.您與本聯盟的權利義務關係，應依本同意書訂定之。若有發生任何爭議，雙方均應稟持最大誠意，依誠實信用、平等互惠原則協商解決之，雙方並合意以台灣新北地方法院為第一審管轄法院。&#13;&#10;3.本同意書若有未盡之處，依中華民國法律解釋、補充及辦理。</textarea>
									<div class="checkbox">
										<label class="signup-check-label">
											<input type="checkbox" class="signup-checkbox" name="box" />我已同意會員服務條款</label>
									</div>
									<input type="hidden" name="_csrf" value="<%= csrfToken %>">
									<button type="submit" class="btn btn-default">註冊</button>
								</div>
							</div>
						</div>
					</form>

		</div>

	</div>
	<!--==========================================-->

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
	 crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
	 crossorigin="anonymous"></script>
	<script src="js/main.js"></script>
	<script src="js/mybootstrap.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</body>

</html>